In [1]:
#  Two types of Structure.  a. Series = column wise form & 1-waqy Dimentional.
#                           b. Data Frame = Tabular representation of 2-D or more.
# 1. Print the data through Series.       Note- capital S is used in Series
import pandas as pd
a=[10,20,30,40,50]
ans=pd.Series(a)
print(ans)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
# 2. Print the series data with index.
import pandas as pd
a=[1,2,3,4,5]
ans=pd.Series(a)
print(ans[2])

# import pandas as pd
# series=pd.array([1,2,3,4,5])
# print(series[2])

3

In [3]:
# 3. Print the ywo column of calories and duration and insert the value.
import pandas as pd
data = {
  "calories": [40, 30, 10],
  "duration": [50, 20, 45]
} 
df = pd.DataFrame(data)

print(df)

   calories  duration
0        40        50
1        30        20
2        10        45

In [4]:
# 4. Create three column of name,age and city and insert the values with the index name person.
import pandas as pd
data = {
  "name": ['Ayu','B2',"Raj"],
  "age": [15, 20, 25],
  "city":['Abad',"Patna","Gaya"]
  
}  
df = pd.DataFrame(data, index=["person1", "person2", "person3"])
print(df)

        name  age   city
person1  Ayu   15   Abad
person2   B2   20  Patna
person3  Raj   25   Gaya

In [5]:
# 5. Create a data form from a dictonary .
data = {
    1: {"Name": "Ayu", "Age": 25},
    2: {"Name": "B2", "Age": 20},
    3: {"Name": "Raj", "Age": 22}
}
for key, value in data.items():
    print(f"ID: {key}, Data: {value}")

ID: 1, Data: {'Name': 'Ayu', 'Age': 25}
ID: 2, Data: {'Name': 'B2', 'Age': 20}
ID: 3, Data: {'Name': 'Raj', 'Age': 22}

In [6]:
# 6. Select the specific column name.
import pandas as pd
data = {
  "name": ['Ayu','B2',"Raj"],
  "age": [15, 20, 25],
  "city":['Abad',"Patna","Gaya"]
  
} 
df = pd.DataFrame(data)
df_selected = df[["name"]]
print(df_selected)

  name
0  Ayu
1   B2
2  Raj

In [7]:
# 7. Filter rows based on a condition is higher than 25.
import pandas as pd
data = {
  "name": ['Ayu','B2',"Raj"],
  "age": [35, 20, 25],
  "city":['Abad',"Patna","Gaya"]
  
} 
df = pd.DataFrame(data)
filtered_df = df[df["age"] > 25]
print(filtered_df)

  name  age  city
0  Ayu   35  Abad

In [8]:
# 8. Add a new column of salary and insert the values.
import pandas as pd
data = {
    "name": ['Ayu', 'B2', 'Raj'],
    "age": [15, 20, 25],
    "city": ['Abad', 'Patna', 'Gaya']
}
df = pd.DataFrame(data) 
df["Salary"] = [50000, 60000, 45000]
print(df)

  name  age   city  Salary
0  Ayu   15   Abad   50000
1   B2   20  Patna   60000
2  Raj   25   Gaya   45000

In [1]:
# 9. calculate the mean of a numeric value.
import pandas as pd

data = {
    "name": ['Ayu', 'B2', 'Raj'],
    "age": [15, 20, 25],
    "city": ['Abad', 'Patna', 'Gaya'],
    "Salary": [50000, 60000, 45000]
}
df = pd.DataFrame(data) 
mean_values = df.mean(numeric_only=True)
print(mean_values)

age          20.000000
Salary    51666.666667
dtype: float64